 <!-- Header Section -->
<%- include partials/header.ejs %>

<!-- Main Navigation -->
<%- include partials/mainNav.ejs %>


<!-- Error Content -->
<div class="container mt-5">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%=error.stack =%></pre>
</div>

<!-- Bottom Navigation -->
<%- include partials/bottomNav.ejs %>

<!-- Footer Section -->
<%- include partials/footer.ejs %>