<!-- Header Section -->
    <%- include('partials/header.ejs') %>

    <!-- Main Navigation -->
    <%- include('partials/mainNav.ejs') %>

    <!-- Main Content -->
    <main>
      <%- include('Content/' + page + '.ejs') %>
    </main>
    <hr class="marginBelow">
    <!-- Bottom Navigation -->
    <footer>
      <%- include('partials/bottomNav.ejs') %>
    </footer>

    <!-- Footer Section -->
    <%- include('partials/footer.ejs') %>
  




