<div class="row justify-content-lg-center g-3">
        <h2><%= title %> Scientist</h2>
        <form method="POST" class="col-lg-6 col-md-10 col-sm-10">
            <div class="input-group mb-3">
                <span class="input-group-text" id="firstname">First Name</span>
                <input id="name" type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="Item First Name" 
                name="firstname" value=<%= scientist.firstname %> required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="lastname">Last Name</span>
                <input id="lastname" type="text" class="form-control" placeholder="Last Name" aria-label="Last Name" aria-describedby="Item Last Name" 
                name="lastname" value=<%= scientist.lastname %> required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="phone">Phone</span>
                <input id="phone" type="number" class="form-control" placeholder="phone" aria-label="phone" aria-describedby="Item phone" 
                name="phone" value=<%= scientist.phone %> required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="email">Email</span>
                <input id="email" type="text" class="form-control" placeholder="email" aria-label="email" aria-describedby="Item email" 
                name="email" value=<%= scientist.email %> required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="bloodgroup">Blood Group</span>
                <input id="bloodgroup" type="text" class="form-control" placeholder="bloodgroup" aria-label="bloodgroup" aria-describedby="Item bloodgroup" 
                name="bloodgroup" value=<%= scientist.bloodgroup %> required>
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-edit fa-lg"></i> Edit
            </button>
            <a href="/scientist" class="btn btn-warning">
                <i class="fas fa-undo"></i> Cancel</a>
        </form>
    </div>